
body{
  // background-color: #666;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}




.my-calendar{
  width: 324px;
  border: 1px solid #ddd;
  font-size: 12px;
  color: #666;
  border-collapse:collapse;
  tHead{
    border-bottom: 1px solid #ddd;
  }
  tr{
   
    height: 38px;
  }
  th{
    font-weight: normal;
  }
  td{
    text-align: center;
  }
  .day{
    &.rest-day{
      color: #ccc;
    }
    &.current-day{
      cursor: pointer;
    }
    &.current{
      color: orange;
      font-weight: bold;
    }
    &.selected{
      background-color: orange;
    }
  }
}